:root {
    --primary-color: #003476;
    --secundary-color: #b3b3b3b3;
    --header-size: 4rem;
    --font: 1.8rem;
    --padding: 10px 100px;
  }
/*css reset*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}
@media (min-width:320px){
.Proyectos{

    position: relative;
    display: flex;/* para manipular el contenido*/
    flex-direction: column;
    justify-content:flex-end;
    width: 83%;
    min-width: 450px;
    height: 85px;
    text-align:center;
    padding: 1px 10px;
    border: 10px solid #293462;
    background: #293462;
}



.Proyectos .Titulo{
    text-align: center;
    font-size: 1.6rem; /*tamaño de letra*/
    font-weight: bold;
    line-height: 1.6rem;
    margin-bottom: 10px;
    color: #c6c6c5;
}

.Proyectos .boton{
    border: 1px solid #D61C4E; /*anchura, estilo y color borde*/
    padding: 6px; /*espacio alrededor texto*/
    background-color: #D61C4E; /*color botón*/
    color: #FFF80A; /*color texto*/
    text-decoration: none; /*decoración texto*/
    text-transform: uppercase; /*capitalización texto*/
    font-family: 'Helvetica', sans-serif; /*tipografía texto*/
    border-radius: 10px; /*bordes redondos*/
    font-size: 0.8rem;
    text-align:center;
    line-height: 0.8rem;
    margin-left: 115px;
    margin-right: 1px;
    font-weight: bold;
    margin-left: 180px;
} 
}
/*Aqui comiwnzan los proyectos*/

/*inicio*/
@media (min-width:320px){
.cuadroUno{

  position: relative;
  display: flex;/* para manipular el contenido*/
  flex-direction: column;
  justify-content:flex-end;
  width: 83%;
  min-width: 450px;
  height: 110px;
  text-align:center;
  padding: 1px 10px;
  border: 10px solid #293462;
  background: #293462;
}


.cuadroUno h2 {
  text-align: center;
  font-size: 1.6rem; /*tamaño de letra*/
  font-weight: bold;
  line-height: 1rem;
  color: #c6c6c5;
}

.cuadroUno p{
  color: #c6c6c5;
  text-align: justify;
}
.cuadroUno .boton{
  border: 1px solid #D61C4E; /*anchura, estilo y color borde*/
  padding: 6px; /*espacio alrededor texto*/
  background-color: #D61C4E; /*color botón*/
  color: white; /*color texto*/
  text-decoration: none; /*decoración texto*/
  text-transform: uppercase; /*capitalización texto*/
  font-family: 'Helvetica', sans-serif; /*tipografía texto*/
  border-radius: 10px; /*bordes redondos*/
  font-size: 0.8rem;
  text-align:center;
  line-height: 0.8rem;
  margin-left: 10px;
  margin-right: 1px;
  font-weight: bold;
  
  
} 
}
/*Termino*/

/*inicio*/
@media (min-width:320px){
.cuadroDos{

  position: relative;
  display: flex;/* para manipular el contenido*/
  flex-direction: column;
  justify-content:flex-end;
  width: 83%;
  min-width: 450px;
  height: 110px;
  text-align:center;
  padding: 1px 10px;
  border: 10px solid #293462;
  background: #293462;
}


.cuadroDos h2{
  text-align: center;
  font-size: 1.6rem; /*tamaño de letra*/
  font-weight: bold;
  line-height: 1.6rem;
  color: #c6c6c5;
}
.cuadroDos p{
color: #c6c6c5;
text-align: justify;
}

.cuadroDos .boton{
  border: 1px solid #D61C4E; /*anchura, estilo y color borde*/
  padding: 6px; /*espacio alrededor texto*/
  background-color: #D61C4E; /*color botón*/
  color: white; /*color texto*/
  text-decoration: none; /*decoración texto*/
  text-transform: uppercase; /*capitalización texto*/
  font-family: 'Helvetica', sans-serif; /*tipografía texto*/
  border-radius: 10px; /*bordes redondos*/
  font-size: 0.8rem;
  text-align:center;
  line-height: 0.8rem;
  margin-left: 10px;
  margin-right: 1px;
  font-weight: bold;
} 
}
/*Termino*/

/*inicio*/
@media (min-width:320px){
.cuadroTres{

  position: relative;
  display: flex;/* para manipular el contenido*/
  flex-direction: column;
  justify-content:flex-end;
  width: 83%;
  min-width: 450px;
  height: 110px;
  text-align:center;
  padding: 1px 10px;
  border: 10px solid #293462;
  background: #293462;
}


.cuadroTres h2{
  text-align: center;
  font-size: 1.6rem; /*tamaño de letra*/
  font-weight: bold;
  line-height: 1.6rem;
  color: #c6c6c5;

}

.cuadroTres p{
  color: #c6c6c5;
  text-align: justify;
  }

.cuadroTres .boton{
  border: 1px solid #D61C4E; /*anchura, estilo y color borde*/
  padding: 6px; /*espacio alrededor texto*/
  background-color: #D61C4E; /*color botón*/
  color: white; /*color texto*/
  text-decoration: none; /*decoración texto*/
  text-transform: uppercase; /*capitalización texto*/
  font-family: 'Helvetica', sans-serif; /*tipografía texto*/
  border-radius: 10px; /*bordes redondos*/
  font-size: 0.8rem;
  text-align:center;
  line-height: 0.8rem;
  margin-left: 10px;
  margin-right: 1px;
  font-weight: bold;
  
} 
}
/*Termino*/


/*inicio*/
@media (min-width:320px){
.cuadroCuatro{

  position: relative;
  display: flex;/* para manipular el contenido*/
  flex-direction: column;
  justify-content:flex-end;
  width: 83%;
  min-width: 450px;
  height: 110px;
  text-align:center;
  padding: 1px 10px;
  border: 10px solid #293462;
  background: #293462;
}


.cuadroCuatro h2{
  text-align: center;
  font-size: 1.6rem; /*tamaño de letra*/
  font-weight: bold;
  line-height: 1.6rem;
  color: #c6c6c5;
  
}

.cuadroCuatro p{
  color: #c6c6c5;
  text-align: justify;
  }

.cuadroCuatro .boton{
  border: 1px solid #D61C4E; /*anchura, estilo y color borde*/
  padding: 6px; /*espacio alrededor texto*/
  background-color: #D61C4E; /*color botón*/
  color: white; /*color texto*/
  text-decoration: none; /*decoración texto*/
  text-transform: uppercase; /*capitalización texto*/
  font-family: 'Helvetica', sans-serif; /*tipografía texto*/
  border-radius: 10px; /*bordes redondos*/
  font-size: 0.8rem;
  text-align:center;
  line-height: 0.8rem;
  margin-left: 10px;
  margin-right: 1px;
  font-weight: bold;
}
}
/*Termino*/
  

/*inicio*/
@media (min-width:320px){
.cuadroCinco{

  position: relative;
  display: flex;/* para manipular el contenido*/
  flex-direction: column;
  justify-content:flex-end;
  width: 83%;
  min-width: 450px;
  height: 110px;
  text-align:center;
  padding: 1px 10px;
  border: 10px solid #293462;
  background: #293462;
}


.cuadroCinco h2{
  text-align: center;
  font-size: 1.6rem; /*tamaño de letra*/
  font-weight: bold;
  line-height: 1.6rem;
  color: #c6c6c5;
 
}

.cuadroCinco p{
  color: #c6c6c5;
  text-align: justify;
  }

.cuadroCinco .boton{
  border: 1px solid #D61C4E; /*anchura, estilo y color borde*/
  padding: 6px; /*espacio alrededor texto*/
  background-color: #D61C4E; /*color botón*/
  color: white; /*color texto*/
  text-decoration: none; /*decoración texto*/
  text-transform: uppercase; /*capitalización texto*/
  font-family: 'Helvetica', sans-serif; /*tipografía texto*/
  border-radius: 10px; /*bordes redondos*/
  font-size: 0.8rem;
  text-align:center;
  line-height: 0.8rem;
  margin-left: 10px;
  margin-right: 1px;
  font-weight: bold;
}
}
/*Termino*/
@media (min-width:320px){
.cuadroSeis{

  position: relative;
  display: flex;/* para manipular el contenido*/
  flex-direction: column;
  justify-content:flex-end;
  width: 83%;
  min-width: 450px;
  height: 110px;
  text-align:center;
  padding: 1px 10px;
  border: 10px solid #293462;
  background: #293462;
}


.cuadroSeis h2{
  text-align: center;
  font-size: 1.6rem; /*tamaño de letra*/
  font-weight: bold;
  line-height: 1.6rem;
  color: #c6c6c5;
}

.cuadroSeis p{
  color: #c6c6c5;
  text-align: justify;
  }

.cuadroSeis .boton{
  border: 1px solid #D61C4E; /*anchura, estilo y color borde*/
  padding: 6px; /*espacio alrededor texto*/
  background-color: #D61C4E; /*color botón*/
  color: white; /*color texto*/
  text-decoration: none; /*decoración texto*/
  text-transform: uppercase; /*capitalización texto*/
  font-family: 'Helvetica', sans-serif; /*tipografía texto*/
  border-radius: 10px; /*bordes redondos*/
  font-size: 0.8rem;
  text-align:center;
  line-height: 0.8rem;
  margin-left: 10px;
  margin-right: 1px;
  font-weight: bold;

}
}
/*Termino*/

















/*fOOTER*/
@media (min-width:320px){
.footer{
    position: relative;
    display: flex;/* para manipular el contenido*/
    flex-direction: column;
    justify-content:flex-end;
    width: 83%;
    min-width: 450px;
    height: 80px;/*manipular el contenido*/
    text-align:center;
    padding: 1px 10px;
    border: 10px solid #293462;
    background: #293462;
  
  }
  
  .footer .main--title span{
    /*Titulo Resumen Profesional*/
    font-size: 1.8rem; /*tamaño de letra*/
    font-weight: bold;
    line-height: 1.8rem;
    width:130px; /*ancho*/
    height: 24px;/*alto*/
    display: inline-block;
    background: #FEB139;/*color de fondo*/
    border: 5px solid #FEB139; /*color y ancho del border*/
    margin-left: 0px;/*centra a la izquierda*/
    margin-right: 0px;/*centra a la derecha*/
    color: black;/*color de texto*/
  
  }
  
  
  
  .main--icon-container  ul {
    display: flex;
    align-items: center;
    list-style-type:none;
    padding-top: 0px;
     flex-flow: row wrap;
    /* justify-content: space-around; */
    justify-content: center;
  
  }
  
  .main--icon-container li {
    padding: 0 10px;
  }
  
  .main--icon-container .redes{
    width:25px;
    height:25px;
}
}